extends layout

block content
    h1(class='testHome text-center') #[strong Welcome to CampusRoutes]
    h3(class= 'testHome text-center') Let's Get Started!

    p(class= 'text-center') Click #[a(href="/select") here] to get started!
