extends layout

block content
    h1 Follow these directions to #{locationName}

    button(type='button' id='cancelnav') Cancel Navigation  
    button(type='button' id='endnav') Finish Navigation
    
    script(type='text/javascript').
        window.onload = function() {
            document.getElementById("endnav").onclick = function() {
                location.href= "/rate";
            };
            
            document.getElementById("cancelnav").onclick = function() {
                location.href= "/select";
            };
        };
