extends layout

block content
    h1(class='testHome text-center') #[strong CampusRoutes]
    h4(class='text-center') Tell Others How Your Trip Went!

    input(id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1")


    
    button(type="button" id="submit") submit

    button(type="button" id="cancel") cancel

    script(type="text/javascript").
        window.onload = function() {

        // initialize with defaults
        //$("#input-id").rating();

            document.getElementById("submit").onclick = function() {
                location.href = "/select";
            };
            
            document.getElementById("cancel").onclick = function() {
                location.href = "/record";
            };
        };
    
