extends layout

block content
    h1(class='testHome text-center') #[strong CampusRoutes]
    h4(class='text-center') Tell Others How Your Trip Went!
    
    input(id="input-id" class="center-block")
    
    div(class="center-block button-wrapper text-center")
        button(type="button" id="cancel" class="btn btn-danger") Cancel
        button(type="button" id="submit" class="btn btn-success") Submit

    script(type="text/javascript").
        window.onload = function() {

            // initialize with defaults
            $("#input-id").rating({showCaption: false,
                                   clearButton: ""});

            document.getElementById("submit").onclick = function() {
                location.href = "/select";
            };
            
            document.getElementById("cancel").onclick = function() {
                location.href = "/record";
            };
        };
    
