.testHome {
    color: blue;
}

.testSelect {
	color:blue;
}

.rating-container {
    text-align: center;
}

.button-wrapper {
    margin: 0 auto;
    width: 100%;
}

.button-group-wrapper {
    margin: 0 auto;
    width: 60%;
}
