h1 {
    color: #004d40;
}

.rating-container {
    text-align: center;
}

.button-wrapper {
    margin: 0 auto;
    width: 100%;
}

.button-group-wrapper {
    margin: 0 auto;
    width: 60%;
}

.form-group {
    margin: 0 auto;
    width: 60%;
}
